    <%= render("layouts/header") %>
    <!-- // HEADER  -->
    <!-- Search  -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="clearfix d-block">
            <input type="search" value="" placeholder="Search for . . . ." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- // Search  -->

    <!-- REVOLUTION SLIDER -->
    <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="fizo-slider-3" data-source="gallery" style="background:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
        <div id="rev_slider_26_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-31" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <div alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"  data-no-retina>
                    <%= image_tag "otos-15.jpg", :size => '1550x800', :class => "rev-slidebg" %>
                    </div>
                    <!-- LAYERS -->
                   
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme" id="slide-31-layer-1" data-x="['left','left','center','center']" data-hoffset="['30','30','1','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-67','-68','-107','-76']" data-fontsize="['100','100','76','45']" data-lineheight="['100','100','150','49']" data-letterspacing="['-3','-3','-3','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"split":"chars","splitdelay":0.1,"speed":410,"split_direction":"forward","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 800; color: 	#FFFFFF; letter-spacing: -3px;font-family:Muli;">L'agence digitale </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme" id="slide-31-layer-5" data-x="['left','left','center','center']" data-hoffset="['30','30','0','0']" data-y="['top','top','middle','middle']" data-voffset="['460','408','0','33']" data-fontsize="['18','18','18','15']" data-fontweight="['500','500','500','400']" data-width="['579','579','579','357']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":790,"speed":1080,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 579px; max-width: 579px; white-space: normal; font-size: 18px; line-height: 35px; font-weight: 500; color: 	#FFFFFF; letter-spacing: 0px;font-family:Poppins;">A magical and revolutionary device at an unbelievable price , Computers help people help people </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" id="slide-31-layer-2" data-x="['left','left','center','center']" data-hoffset="['30','30','-11','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-151','-153','-198','-120']" data-fontsize="['25','25','25','16']"  data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1430,"split":"words","splitdelay":0.1,"speed":570,"split_direction":"forward","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['left','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 25px; line-height: 30px; font-weight: 600; color: 	#FFFFFF; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;">Your Vision, Our Future </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn " id="slide-31-layer-3" data-x="['left','left','center','center']" data-hoffset="['30','30','0','0']" data-y="['top','top','top','top']" data-voffset="['567','512','552','476']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1830,"speed":1010,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(87,10,116);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,15]" data-paddingright="[55,55,55,40]" data-paddingbottom="[20,20,20,15]" data-paddingleft="[55,55,55,40]" style="z-index: 8; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: 0px ;font-family:Poppins;background:linear-gradient(180deg, rgba(255,94,58,1) 0%, rgba(255,42,104,1) 100%);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Nous contacter </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->


    <section class="padding-top-120px padding-bottom-90px">
        <div class="container">

            <div class="nile-title layout-1   text-left">
                <div class="sub-title">Vous aidez à améliorer votre image digitale</div>
                <h2>Nos services</h2>
            </div>


            <div class="row">


                <!-- item -->
                <div class="col-lg-4">
                    <div class="fizo-img-text layout-1 ba-1">
                        <h3>SEO</h3>
                        <div class="dis">We master the ever-changing art of adtech activation with an AI foundation, tech spine and .... </div>
                        <a class="more" href="#">Lire plus</a>
                    </div>
                </div>
                <!-- END item -->


                <!-- item -->
                <div class="col-lg-4">
                    <div class="fizo-img-text layout-1 ba-2">
                        <h3>Site web</h3>
                        <div class="dis">We master the ever-changing art of adtech activation with an AI foundation, tech spine and .... </div>
                        <a class="more" href="#">Lire plus</a>
                    </div>
                </div>
                <!-- END item -->


                <!-- item -->
                <div class="col-lg-4">
                    <div class="fizo-img-text layout-1 ba-3">
                        <h3>Data science</h3>
                        <div class="dis">We master the ever-changing art of adtech activation with an AI foundation, tech spine and .... </div>
                        <a class="more" href="#">Lire plus</a>
                    </div>
                </div>
                <!-- END item -->

            </div>
        </div>
    </section>




    <section class="padding-tb-120px section-ba-2">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <div class="fizo-image layout-2">
                        <%= image_tag "otos-9.jpg"%>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 align-self-center">

                    <div class="about-slider owl-carousel owl-theme">

                        <div class="about-item">
                            <div class="margin-bottom-30px">
                                <h2 class="title-large margin-bottom-0px">Think like a brand, act like a retailer</h2>
                            </div>
                            <div class="text-medium margin-bottom-30px">A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art. </div>
                        </div>


                        <div class="about-item">
                            <div class="margin-bottom-30px">
                                <h2 class="title-large margin-bottom-0px">Connecting customers to your brand</h2>
                            </div>
                            <div class="text-medium margin-bottom-30px">A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art. </div>
                        </div>

                        <div class="about-item">
                            <div class="margin-bottom-30px">
                                <h2 class="title-large margin-bottom-0px">Ad agency by day. Invention lab by night</h2>
                            </div>
                            <div class="text-medium margin-bottom-30px">A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art. </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fizo-call-action layout-1">
        <div class="container output-section">

            <div class="text-center flex-center">
                <div class="text-slider owl-carousel owl-theme">

                    <div class="fizo-text-slider layout-1">
                        <h2 class="title-large margin-bottom-30px">You dream. We design. Online & Offline.</h2>
                        <div class="content">
                            A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art.
                        </div>
                    </div>


                    <div class="fizo-text-slider layout-1">
                        <h2 class="title-large margin-bottom-30px">You dream. We design. Online & Offline.</h2>
                        <div class="content">
                            A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art.
                        </div>
                    </div>


                    <div class="fizo-text-slider layout-1">
                        <h2 class="title-large margin-bottom-30px">You dream. We design. Online & Offline.</h2>
                        <div class="content">
                            A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art.
                        </div>
                    </div>


                </div>
                <a href="#" class="nile-bottom layout-1">Discover More</a>
            </div>

        </div>
    </section>


    <section class="padding-tb-120px">
        <div class="container">

            <!-- Title -->
            <div class="nile-title layout-1   text-center">
                <div class="sub-title">Our Articles & News</div>
                <h2>Our News</h2>
            </div>
            <!-- END Title -->

            <div class="row">

                <div class="col-lg-4">
                    <div class="fizo-blog layout-2">
                        <div class="img-in">
                            <%= image_tag "otos-11.jpg"%>
                            <a href="#" class="read-more flex-center">Lire plus</a>
                        </div>
                        <ul class="meta">
                            <li class="author"><strong>By : <a href="#">Rabie Elkheir </a></strong> </li>
                            <li><strong><a href="#">5 Comments</a></strong></li>
                        </ul>
                        <a href="#" class="title_in">How To Market Your Consulting Business For Free</a>
                        <div class="excerpt">If you’re like most consultants you are a one-man-band operating on a shoe string budget. You don’t have thousa ...</div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="fizo-blog layout-2">
                        <div class="img-in">
                            <%= image_tag "otos-11.jpg"%>
                            <a href="#" class="read-more flex-center">Lire plus</a>
                        </div>
                        <ul class="meta">
                            <li class="author"><strong>By : <a href="#">Rabie Elkheir </a></strong> </li>
                            <li><strong><a href="#">5 Comments</a></strong></li>
                        </ul>
                        <a href="#" class="title_in">SAP Business One Technical Versus Functional Consulting</a>
                        <div class="excerpt">If you’re like most consultants you are a one-man-band operating on a shoe string budget. You don’t have thousa ...</div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="fizo-blog layout-2">
                        <div class="img-in">
                            <%= image_tag "otos-11.jpg"%>
                            <a href="#" class="read-more flex-center">Lire plus</a>
                        </div>
                        <ul class="meta">
                            <li class="author"><strong>By : <a href="#">Rabie Elkheir </a></strong> </li>
                            <li><strong><a href="#">5 Comments</a></strong></li>
                        </ul>
                        <a href="#" class="title_in">How Anyone Can Start a Consulting Business Today</a>
                        <div class="excerpt">If you’re like most consultants you are a one-man-band operating on a shoe string budget. You don’t have thousa ...</div>
                    </div>
                </div>

            </div>


        </div>
    </section>



    <section class="padding-tb-120px section-ba-2">
        <div class="container">

            <!-- Title -->
            <div class="nile-title layout-1   text-center">
                <div class="sub-title">Making your Life Easier</div>
                <h2>Contact Us</h2>
            </div>
            <!-- END Title -->

            <div class="row">

                <div class="col-lg-4">
                    <div class="fizo-icon-box layout-2">
                        <div class="icon"><%= image_tag "map-location.svg" %></div>
                        <h3>London</h3>
                        <div class="dis">USA, New York<br> Mondella street 34, buld 8</div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="fizo-icon-box layout-2">
                        <div class="icon"><%= image_tag "www.svg" %></div>
                        <h3>www.yoursite.com</h3>
                        <div class="dis">USA, New York<br> www.yoursite.com</div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="fizo-icon-box layout-2">
                        <div class="icon"><%= image_tag "24-hours.svg" %></div>
                        <h3>+222 123 333 019</h3>
                        <div class="dis">USA, New York<br> Mondella street 34, buld 8</div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- preloader -->
   
    <!-- end preloader -->


    <a class="go-top box-shadow background-second-color"><i class="fa fa-angle-up fa-sm"></i></a>

    <%= render("layouts/footer") %>
    


    